.form-checkbox {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%; 
    border: 2px solid #cbd5e1;
    transition: background 0.2s;
  }
  
  .form-checkbox:checked {
    background: #1E8357;
    border-color: #1E8357; 
  }